**/node_modules
.next
.vscode
testBuild

# misc
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
**.rest
tsconfig.tsbuildinfo
/test-results/
/playwright-report/
/playwright/.cache/
