html {
  --color-black: #353e4a;
  --color-green: #9acb34;
  --color-white: #fbf8ef;
  --color-blue: #04d0d9;
}

body, html,  #__next {
  width: 100%;
  height: 100%;
}

.fullscreen {
   
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

hr {
  margin: 1rem 0;
  color: black;
  border-color: black;
  background-color: black;
  opacity: 0.4 !important;
  
}


a {
  text-decoration: none !important;
}
a:hover {
  text-decoration:underline !important;
}